<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">




	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/class03?useUnicode=true&amp;characterEncoding=utf8"/>   <!-- 마크업에서 &은 특수문자 이므로 &amp; 로 적어줘야 한다 -->
		<property name="username" value="scott2"/>
		<property name="password" value="Hhr920728"/>
		<!-- <property name="minIdle" value=""/>
		<property name="maxIdle" value=""/>
		<property name="maxActive" value=""/>
		<property name="loginTimeout" value=""/> -->
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- ibatis -->
	<!-- <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:/sqlMapConfig.xml"/>
	</bean>

	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean> -->

	<!-- mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">   <!-- 데이터베이스와의 연결, SQL의 실행에 대한 모든 것을 처리하는 객체 -->
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>   <!-- SqlSessionTemplate 는 디폴트 생성자가 필요하기 때문에 만들어 줬다-->
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="deptDao" class="com.bit.project02.dept.model.DeptDaoImpl3">
		<!-- <property name="jdbcTemplate" ref="jdbcTemplate"/>   // @Autowired 해서 property 하지 않아도 된다 -->
	</bean>

<!-- 
	<context:annotation-config/> 
	내부에 아래의 bean 을 요청
	dao 의 AutoWired 를 인식할 수 있도록 한다
-->
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<!-- @Autowired 의 의존주입처리를 한다 -->
	
</beans>
