<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <typeAliases>   <!-- 경로를 짧게 별명짓고 싶을 때 사용 -->
  	<typeAlias alias="bean" type="com.bit.project02.dept.model.entity.DeptVo"/>
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/deptMapper.xml"/>
  </mappers>
</configuration>